body{
    background-color: lightblue;

}

h1{
    color: white;
    background-color: black;
    border:2px solid white;
    text-align: center
}

p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px;
}

li{font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    margin-bottom: 10px

}

ol{
    color: rgb(182, 2, 2);
}

ol li::marker{
    color:black
}
ul{
    color: black;
}
.display{
    display: flex;
    justify-content: center;
}

.button{
    background-color: rgb(0, 85, 255);
    color:white;
    font-size: 20px;
    display: inline-block;
    border:2px solid white;
    margin-bottom: 5px;
    padding: 6px;
}

a{
    color:white;
}

.tableau {
    width: 90%;            /* Shrinks on smaller screens */
    max-width: 1200px;     /* Optional maximum width */
    margin: 20px auto;     /* Centers the container */
}

.tableau-placeholder {
    width: 100%;           /* Fill the container */
    margin: 0 auto;        /* Center inside parent */
}

.tableau-viz {
    width: 100% !important; /* Fill placeholder width */
    display: block;
}
